.comment{
    margin-left: 25px;

}
.text-comment{
    font-weight: bold;
    overflow: hidden;
    word-break: break-all;
    padding:15px;
    border-radius:15px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    height:150px;
}